/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body {
    font-family: Arial, sans-serif;
    height: 100vh; /* 화면 전체 높이 */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 50px;
    padding: 20px;
    background-color: #4CAF50;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
}

.head-container{
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.login-btn{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 10px;
    text-align: center;
}

/* th에는 상단과 하단 모두 border가 필요할 수 있으므로 아래처럼 추가 */
th {
    background-color: white;
    border-bottom: 2px solid #000; /* 테이블 헤더 하단에 선 추가 */
}
tr {
    border-bottom: 1px solid #ccc; /* 각 행의 하단에 선 추가 */
}
.add-btn{
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}