/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}
.head-container{
    text-decoration: none;
    margin: 0;
    padding-top: 0;
}
.heading {
    font-size: 30px;
    padding: 2px;
    background-color: #4CAF50;
    text-align: center;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
    position: relative; /* relative로 설정하여 자식 요소를 조정 가능하게 */
}
.heading h1{
    color: #333;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* 약간의 투명 배경 */
    padding: 5px;
    position: absolute;
    bottom: 0; /* 제목 영역의 하단에 겹치도록 */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #ddd;
    border-radius: 5px;
}
.medicine-list{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.symptom{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #333;
}
.medicine-list img{
    width: 350px;
    height: 250px;
    border-radius: 25%;
}

.medicine-list p{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    color: rgba(242, 192, 192);
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(43, 12, 25, 0.6);
    border-radius: 10px;
}
.symptom img:hover {
    filter: blur(2px); 
}

.symptom:hover p {
    opacity: 1; 
}

.medicine-box{
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 80vh; /* 스크롤 가능하도록 제한 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    overflow-y: auto; /* 스크롤 추가 */
}
.medicine-box .close{
    display: block;
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 20px;
    cursor: pointer;
    color: #333;
    margin-bottom: 10px; 
}
.medicine-box li{
    list-style-type: square;
}
.caution{
    color: #d9534f;
    font-weight: bold;
    margin-top: 10px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.login-btn{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
