
/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.head-container{
    text-decoration: none;
    margin: 0;
    padding-top: 0;
}
.heading {
    font-size: 30px;
    padding: 2px;
    background-color: #4CAF50;
    text-align: center;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
    position: relative; /* relative로 설정하여 자식 요소를 조정 가능하게 */
}
.heading h1{
    color: #333;
}
.post-header{
    font-family: 'Dongle', sans-serif;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* 약간의 투명 배경 */
    padding: 5px;
    position: absolute;
    bottom: 0; /* 제목 영역의 하단에 겹치도록 */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #ddd;
    border-radius: 5px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.login-btn{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
h1 {
    text-align: center;
}
.form-container {
    margin: 20px 20px 30px 0px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.post-list {
    list-style: none;
    padding: 0;
}
.post-list li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}